<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Desenvolvedores</title>
  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
  <nav>
    <a href="index.html">Início</a>
    <a href="desenvolvedores.html">Desenvolvedores</a>
    <a href="jogo.html">Jogo</a>
  </nav>
  <main>
    <h1>Equipe de Desenvolvimento</h1>
    <ul style="list-style: none; padding: 0;">
      <li style="background-color: #2e2e4d; margin: 10px auto; padding: 20px; border-radius: 10px; max-width: 400px;">
        <strong>Nome:</strong> Pedro Henrique Mota<br>
        <strong>RA:</strong> 22.148.825-3<br>
        <strong>Chave Pix:</strong> (11) 91972-2811
      </li>
    </ul>
  </main>
</body>
</html>
